kp-value-editor(
    editor-id="$ctrl.valueEditorController.editorId"
    editor-name="$ctrl.valueEditorController.editorName"
    placeholder="$ctrl.valueEditorController.placeholder"
    class="{{$ctrl.options.cssClasses}}"

    type="'text'"

    ng-model="$ctrl.model"
    ng-model-options="{ getterSetter: true}"

    disabled="$ctrl.valueEditorController.isDisabled"

    options="{type: 'rich-textarea', aceOptions: {useWrapMode: false, showGutter: true, mode: 'velocity'}}"
    validations="{" +
        "required: $ctrl.valueEditorController.validations.required" +
    "}"
)
