span.with-confirmation(ng-if="$ctrl.options.withConfirmation")
    .form-group
        input.form-control(
            type="password"

            id="{{$ctrl.valueEditorController.editorId}}"
            name="{{$ctrl.valueEditorController.editorName}}_repetition"
            placeholder="{{$ctrl.valueEditorController.placeholder}}"
            ng-class="$ctrl.options.cssClasses"

            ng-model="$ctrl.passwordRepetition"
            ng-model-options="{ getterSetter: true}"

            ng-disabled="$ctrl.valueEditorController.disabled"

            ng-required="$ctrl.valueEditorController.validations.required"
            ng-minlength="$ctrl.valueEditorController.validations.minlength"
            ng-maxlength="$ctrl.valueEditorController.validations.maxlength"
            ng-pattern="$ctrl.valueEditorController.validations.pattern"
        )

        span.help-block
            span.text-muted(ng-show="!!$ctrl.localize('patternDescription')") {{$ctrl.localize('patternDescription')}}
            span.text-muted(ng-show="!$ctrl.valueEditorController.validations.required  && $ctrl.localize('patternDescription') && $ctrl.localize('noChangeIfEmpty')") {{$ctrl.localize('helpTextsSeparator')}}
            span.text-muted(ng-show="!$ctrl.valueEditorController.validations.required") {{$ctrl.localize('noChangeIfEmpty')}}

    .form-group
        label(for="{{$ctrl.valueEditorController.editorId}}_repetition") {{$ctrl.localize('confirmPassword')}}

        input.form-control(
            type="password"

            id="{{$ctrl.valueEditorController.editorId}}_repetition"
            name="{{$ctrl.valueEditorController.editorName}}"
            placeholder="{{$ctrl.valueEditorController.placeholder}}"
            ng-class="$ctrl.options.cssClasses"

            ng-model="$ctrl.model"
            ng-model-options="{ getterSetter: true}"

            ng-disabled="$ctrl.valueEditorController.disabled"

            ng-required="$ctrl.valueEditorController.validations.required"
            ng-minlength="$ctrl.valueEditorController.validations.minlength"
            ng-maxlength="$ctrl.valueEditorController.validations.maxlength"
            ng-pattern="$ctrl.valueEditorController.validations.pattern"

            kp-model-equals="{{$ctrl.passwordRepetition}}"

            data-main-input
        )

span.without-confirmation(ng-if="!$ctrl.options.withConfirmation")
    input.form-control(
        type="password"

        id="{{$ctrl.valueEditorController.editorId}}"
        name="{{$ctrl.valueEditorController.editorName}}"
        placeholder="{{$ctrl.valueEditorController.placeholder}}"
        ng-class="$ctrl.options.cssClasses"

        ng-model="$ctrl.model"
        ng-model-options="{ getterSetter: true}"

        ng-disabled="$ctrl.valueEditorController.disabled"

        ng-required="$ctrl.valueEditorController.validations.required"
        ng-minlength="$ctrl.valueEditorController.validations.minlength"
        ng-maxlength="$ctrl.valueEditorController.validations.maxlength"
        ng-pattern="$ctrl.valueEditorController.validations.pattern"

        data-main-input
    )

