ui-select(
    input-id="\\{\\{$ctrl.valueEditorController.editorId\\}\\}"
    name="{{name}}"

    ng-model="$ctrl.model"
    ng-model-options="{getterSetter: true}"

    "{{multiselectable ? 'multiple' : ''}}"=""
    close-on-select="{{!multiselectable}}"
    sortable="$ctrl.options.reorderable"

    ng-disabled!="$ctrl.valueEditorController.isDisabled || $ctrl.options.acceptableValues.length === 1 && $ctrl.valueEditorController.validations.required"

    ng-required="$ctrl.valueEditorController.validations.required"

    disable-ng-animate

    error-messages
    error-messages-custom-class="acceptable-select"

    data-main-input
)
    ui-select-choices(repeat="$item in $ctrl.getAcceptableValuesForUiSelect() {{sort ? '| orderBy : \\'\\' : false : $ctrl.uiSelectComparator' : ''}} {{searchable ? '| nullAwareFilter:$select.search' : ''}} track by $index")
        span(ng-if="$item === null" ng-bind="::$ctrl.localize('noItemSelected')")
        span(ng-if="$item !== null") {{optionsTemplate}}

    ui-select-match(placeholder="\\{\\{$ctrl.valueEditorController.placeholder\\}\\}")
        span(ng-if="$select.selected === null" ng-bind="::$ctrl.localize('noItemSelected')")
        span(ng-if="$select.selected !== null")
            | {{!multiselectable ? "\{\{$item = $select.selected; ''\}\}" : ""}}{{optionsTemplate}}
