input(  type="hidden"

        ng-attr-id="{{$ctrl.valueEditorController.editorId}}"
        ng-attr-name="{{$ctrl.valueEditorController.editorName}}"

        ng-class="$ctrl.options.cssClasses"

        ng-value="$ctrl.model"

        ng-disabled="$ctrl.valueEditorController.isDisabled"

        data-main-input
    )
