.input-group(ng-if="$ctrl.showSelect")
    .input-group-addon.input-group-select
        ui-select(
            ng-model="$ctrl.model"
            ng-model-options="{getterSetter: true}"

            ng-disabled="$ctrl.valueEditorController.isDisabled"

            disable-ng-animate

            search-enabled="false"
            tagging
        )
            ui-select-match(placeholder="{{$ctrl.localize('select')}}") {{($ctrl.items | filter: $select.selected)[0]}}
            ui-select-choices(repeat="$item in $ctrl.items track by $item") {{$item}}
    input.form-control(
        type="text"

        id="{{$ctrl.valueEditorController.editorId}}"
        name="{{$ctrl.valueEditorController.editorName}}"
        placeholder="{{$ctrl.localize('orType')}}"

        ng-model="$ctrl.model"
        ng-model-options="{ getterSetter: true}"

        ng-disabled="$ctrl.valueEditorController.isDisabled"

        ng-required="$ctrl.valueEditorController.validations.required"
        ng-minlength="$ctrl.valueEditorController.validations.minlength"
        ng-maxlength="$ctrl.valueEditorController.validations.maxlength"
        ng-pattern="$ctrl.valueEditorController.validations.pattern"

        kp-async-validation="$ctrl.valueEditorController.validations.async"

        pattern-description-tooltip

        error-messages

        data-main-input
    )


input.form-control(
    type="text"

    id="{{$ctrl.valueEditorController.editorId}}"
    name="{{$ctrl.valueEditorController.editorName}}"
    placeholder="{{$ctrl.valueEditorController.placeholder}}"

    ng-if="!$ctrl.showSelect"

    ng-model="$ctrl.model"
    ng-model-options="{ getterSetter: true}"

    ng-disabled="$ctrl.valueEditorController.isDisabled"

    ng-required="$ctrl.valueEditorController.validations.required"
    ng-minlength="$ctrl.valueEditorController.validations.minlength"
    ng-maxlength="$ctrl.valueEditorController.validations.maxlength"
    ng-pattern="$ctrl.valueEditorController.validations.pattern"

    kp-async-validation="$ctrl.valueEditorController.validations.async"

    pattern-description-tooltip

    error-messages

    data-main-input
)
