span.pretty.p-icon.p-smooth.p-curve(ng-class="{'p-has-indeterminate': $ctrl.options.nullAsIndeterminate}")
    input(  type="checkbox"

        id="{{$ctrl.valueEditorController.editorId}}"
        name="{{$ctrl.valueEditorController.editorName}}"

        ng-ref="$ctrl.inputElementModelController"
        ng-ref-read="ngModel"

        ng-model="$ctrl.model"
        ng-model-options="{ getterSetter: true}"

        ng-disabled="$ctrl.valueEditorController.isDisabled"

        ng-required="$ctrl.valueEditorController.validations.required"

        kp-async-validation="$ctrl.valueEditorController.validations.async"

        error-messages
        error-messages-custom-class="boolean-checkbox standalone"

        data-main-input
    )

    .state
        i.icon.glyphicon.glyphicon-ok
        label

    .state.p-is-indeterminate
        i.icon.glyphicon.glyphicon-minus
        label
