textarea(
    ng-attr-id="{{$ctrl.valueEditorController.editorId}}"
    ng-attr-name="{{$ctrl.valueEditorController.editorName}}"
    ng-attr-placeholder="{{$ctrl.valueEditorController.placeholder}}"

    ng-ref="$ctrl.container"

    ng-model="$ctrl.model"
    ng-model-options="{ getterSetter: true}"

    ng-required="$ctrl.valueEditorController.validations.required"

    kp-async-validation="$ctrl.valueEditorController.validations.async"

    error-messages

    data-main-input
)
