.list-group(
    ng-class="$ctrl.options.cssClasses"
    data-main-input
)
    button.list-group-item(
        type="button"
        ng-disabled="$ctrl.valueEditorController.isDisabled"
        ng-repeat="$item in $ctrl.options.items"
        ng-class="{'active': $ctrl.isSelected($item), 'isDisabled': $ctrl.valueEditorController.isDisabled}"
        ng-click="$ctrl.selectItem($item)"
    ) {{optionsTemplate}}

input.validation-helper(
    type="text"

    id!="\\{\\{$ctrl.valueEditorController.editorId\\}\\}"
    name="\\{\\{$ctrl.valueEditorController.editorName\\}\\}"

    ng-model="$ctrl.model"
    ng-model-options="{ getterSetter: true}"

    ng-required="$ctrl.valueEditorController.validations.required"

    error-messages
)
