.input-group(uib-dropdown='' dropdown-append-to-body='' is-open='datePickerOpen')
    input.form-control(
        type='text'

        ng-attr-id="{{$ctrl.valueEditorController.editorId}}"
        ng-attr-name="{{$ctrl.valueEditorController.editorName}}"
        ng-attr-placeholder="{{$ctrl.valueEditorController.placeholder}}"

        ng-model="$ctrl.model"
        ng-model-options="{ getterSetter: true}"

        ng-disabled="$ctrl.valueEditorController.isDisabled"

        ng-required="$ctrl.valueEditorController.validations.required"

        kp-async-validation="$ctrl.valueEditorController.validations.async"

        kp-date-parser
        min-date="$ctrl.convertYearToISO($ctrl.valueEditorController.validations.minDate)"
        max-date="$ctrl.convertYearToISO($ctrl.valueEditorController.validations.maxDate)"
        kp-date-parser-view-format="'y'"
        kp-date-parser-model-format="'y'"

        year-parser

        error-messages

        data-main-input
    )


    div(uib-dropdown-menu="")
        datetimepicker(
            ng-model="$ctrl.model"
            ng-model-options="{ getterSetter: true}"

            datetimepicker-config="{minView: 'year', startView: 'year'}"

            on-set-time="datePickerOpen = false"
            before-render="$ctrl.dateRestriction($dates, $view)"
            view-format="y"

            kp-date-parser
            kp-date-parser-view-format="'y'"
            kp-date-parser-model-format="'y'"

            year-parser
        )

    span.input-group-btn
        button.btn.btn-default(type='button' ng-disabled="$ctrl.valueEditorController.isDisabled" uib-dropdown-toggle='')
            span.glyphicon.glyphicon-calendar
