kp-value-editor(
    editor-id="$ctrl.valueEditorController.editorId"
    editor-name="$ctrl.valueEditorController.editorName"
    placeholder="$ctrl.valueEditorController.placeholder"

    type="'date'"

    ng-model="$ctrl.model"
    ng-model-options="{ getterSetter: true}"

    is-disabled="$ctrl.valueEditorController.isDisabled"

    options="{viewFormat: 'y', maximumGranularity: 'year', forceShowErrors: $ctrl.options.forceShowErrors}"
    validations="{" +
        "minDate: $ctrl.convertYearToISO($ctrl.valueEditorController.validations.minDate), " +
        "maxDate: $ctrl.convertYearToISO($ctrl.valueEditorController.validations.maxDate), " +
        "required: $ctrl.valueEditorController.validations.required," +
        "async: $ctrl.valueEditorController.validations.async" +
    "}"
)
