.checkboxes-mode(ng-class="{'with-more': $ctrl.hasMore()}" data-main-input)
    ul(ng-ref="ulElement")
        li.av-item(ng-repeat="$item in $ctrl.getAcceptableValuesForCheckboxes() track by $index" ng-init="index = $index")
            include checkbox-template.tpl.pug

        li.more-container(class="{{uuid}}" ng-if="$ctrl.hasMore()")
            style(type="text/css").
                acceptable-value-editor #check-{{uuid}}:checked ~ ul {
                    max-height: \{\{ulElement[0].children[0].offsetHeight * $ctrl.getMoreCount()\}\}px;
                }

            input.more-checkbox(id="check-{{uuid}}" type="checkbox" ng-model="expanded")
            label.more-label(for="check-{{uuid}}")
                i.glyphicon(ng-class="expanded ? 'glyphicon-chevron-up' : 'glyphicon-chevron-down'")
                span(ng-show="expanded" ng-bind="$ctrl.localize('less')")
                span(ng-hide="expanded" ng-bind="$ctrl.localize('more') + ' (' + $ctrl.getMoreCount() + ')'")

            ul
                li.av-item(ng-repeat="$item in $ctrl.getAcceptableValuesForCheckboxes($ctrl.options.showFirstCount, 9007199254740990) track by $index" ng-init="index = $index + $ctrl.options.showFirstCount")
                    include checkbox-template.tpl.pug

    .btn-group
        button.btn.btn-default.btn-xs.select-all(type="button" ng-disabled="$ctrl.model.length === $ctrl.options.acceptableValues.length" ng-click="$ctrl.model = $ctrl.options.acceptableValues.slice()" ng-bind="$ctrl.localize('selectAll')")
        button.btn.btn-default.btn-xs.deselect-all(type="button" ng-disabled="$ctrl.model.length === 0" ng-click="$ctrl.model = []" ng-bind="$ctrl.localize('deselectAll')")

    input.validation-helper(
        type="text"
        id="\\{\\{$ctrl.valueEditorController.editorId\\}\\}"
        name="\\{\\{$ctrl.valueEditorController.editorName\\}\\}"

        ng-model="$ctrl.model"
        ng-model-options="{getterSetter: true}"

        error-messages
        error-messages-custom-class="acceptable-checkboxes standalone"

        checkboxes-validations
    )
