ui-select(
    id="\{\{$ctrl.valueEditorController.editorId\}\}"
    name="\{\{$ctrl.valueEditorController.name\}\}"

    ng-model="$ctrl.model"
    ng-model-options="{getterSetter: true}"

    ng-disabled!="$ctrl.valueEditorController.disabled || $ctrl.options.acceptableValues.length === 1 && $ctrl.valueEditorController.validations.required"

    ng-required="$ctrl.valueEditorController.validations.required"
)
    ui-select-choices(repeat!="value in $ctrl.options.acceptableValues {{searchable ? '| filter:$select.search' : ''}} track by $index") {{listValueTemplate}}
    ui-select-match(placeholder="\{\{$ctrl.valueEditorController.placeholder\}\}") {{viewValueTemplate}}
