input(  type="number"

        id="{{$ctrl.valueEditorController.editorId}}"
        name="{{$ctrl.valueEditorController.editorName}}"
        placeholder="{{$ctrl.valueEditorController.placeholder}}"

        class="{{$ctrl.options.hideSpinners ? 'hide-spinners' : ''}}"
        step="{{$ctrl.options.step}}"
        min="{{$ctrl.valueEditorController.validations.min}}"
        max="{{$ctrl.valueEditorController.validations.max}}"

        ng-class="$ctrl.options.cssClasses"

        ng-model="$ctrl.model"
        ng-model-options="{ getterSetter: true}"

        ng-disabled="$ctrl.valueEditorController.disabled"

        ng-required="$ctrl.valueEditorController.validations.required"
        ng-minlength="$ctrl.valueEditorController.validations.minlength"
        ng-maxlength="$ctrl.valueEditorController.validations.maxlength"

        data-main-input
    )
