doctype html

html
    head
        title Value Editor Demo
        meta(http-equiv="x-ua-compatible" content="IE=edge")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/babel-polyfill/7.8.7/polyfill.min.js")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

    body(ng-app="app" ng-strict-di)
        h1 Value Editor Demo
        main.container(ng-controller="demoController as $ctrl" ng-init="isDisabled = false")
            button.btn.btn-default(ng-click="$ctrl.forceShowErrors()") Show errors
            span {{$ctrl.showErrors | json}}
            kp-universal-form(
                name="myForm"
                form-settings="::{fields: $ctrl.fields}"
                form-controller="formController = $formController"
                submit-function="$ctrl.submit()"
                labels-width="2"
                force-show-errors="$ctrl.showErrors"

                ng-model="$ctrl.model"
            )

            button(type="button" ng-click="$ctrl.model = undefined") Reset

            div
                label Disabled:
                    input(type="checkbox" ng-model="isDisabled")

            div Value:
                input(ng-model="$ctrl.model")

            div Model: {{$ctrl.model | json}}

            button(type="button" ng-click="$ctrl.clear()") Clear

            pre(ng-bind="formController | json")

            pre(ng-bind="$ctrl.fields | json")
