doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

    body(ng-app="app" ng-strict-di)
        h1 Value Editor Demo
        main(ng-controller="demoController as dc" ng-init="disabled = false")
            form(name="dc.form")

                kp-value-editor(
                    ng-model="value"
                    editor-id="ajdy"
                    name="'jyr'"
                    type="'year'"
                    disabled="disabled"
                    placeholder="Year"
                )

            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            div Value:
                input(ng-model="value")

            div Model: {{value | json}}

            div Errors
                ul
                    li(ng-repeat="(errorName, errorValue) in dc.form.$error") {{errorName}}

