doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

    body(ng-app="app" ng-strict-di)
        h1 Value Editor Demo
        main.container(ng-controller="demoController as $ctrl" ng-init="disabled = false")
            kp-universal-form(
                name="myForm.dwer"
                form-settings="{fields: $ctrl.fields}"
                form-controller="formController = $formController"
                submit-function="$ctrl.submit()"
                labels-width="2"

                ng-model="$ctrl.model"
            )

            pre(ng-bind="formController | json")

            button(type="button" ng-click="$ctrl.model = undefined") Reset

            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            div Value:
                input(ng-model="$ctrl.model")

            div Model: {{$ctrl.model | json}}

            div Errors
                ul
                    li(ng-repeat="(errorName, errorValue) in $ctrl.form.editor.$error") {{errorName}}

            button(type="button" ng-click="$ctrl.clear()") Clear

            pre {{$ctrl.form | json}}
