doctype html

html
    head
        title Value Editor Demo
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
        script(src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous")

    body(ng-app="app" ng-strict-di)
        h1 Value Editor Demo
        main(ng-controller="demoController as $ctrl" ng-init="disabled = false")
            form.form-horizontal(name="$ctrl.form")
                .form-group
                    label.control-label.col-lg-2(for="editor") Label
                    kp-value-editor.col-lg-10(
                        ng-model="$ctrl.model"
                        editor-id="'editor'"
                        editor-name="'editor'"
                        type="'range'"
                        disabled="disabled"
                        placeholder="''"
                        options="{" +
                            "min: 0," +
                            "max: 100," +
                            "extremesAsNull: true," +
                        "}"
                        validations="{" +
                        "}"
                    )


            button(type="button" ng-click="$ctrl.model = undefined") Reset

            div
                label From
                input(type="number" ng-model="value.from")

            div
                label To
                input(type="number" ng-model="value.to")

            div
                label Disabled:
                    input(type="checkbox" ng-model="disabled")

            div Value:
                input(ng-model="$ctrl.model")

            div Model: {{$ctrl.model | json}}

            div Errors
                ul
                    li(ng-repeat="(errorName, errorValue) in $ctrl.form.editor.$error") {{errorName}}

